.sidebar {
    width: 30vw;
    min-width: 250px;
    max-width: 450px;
    float: left;
    margin: 0 auto;
    margin: 1rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-inner {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.sidebar-name {
    margin: 0;
}

.sidebar ul {
    padding: 0px;
    list-style-type: none;
}

.sidebar li {
    margin: 1rem 0;
    padding: 1rem 1rem;
    border-left: 4px solid #3498db;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: ease-in-out 0.1s;
}

.sidebar li:hover {
    margin-left: .3rem;
    box-shadow: 1px 2px 3px #3498db;
    transition: ease-in-out 0.1s;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 950px) {
    .sidebar {
        margin: 0;
        width: 90vw;
    }
    
    .sidebar-inner {
        padding: 1rem;
        flex-direction: row;
    }

    .sidebar h2 {
        display: none;
    }

    .sidebar ul {
        display: flex;
        justify-content: space-between;
    }

    body {
        flex-direction: column;
    }

    .container {
        padding: 1rem;
    }
}